#d-meals-container{
  width: 100%;
}

.meal-row{
  display: flex;
  flex-direction: row;
  height: 300px;
}

.meal {
  width: 50%;
}

.d-head-name {
  width: 24%;
}

.d-head-cals {
  width: 15%;
}

.d-head-name, .d-head-cals {
  text-align: center;
  border: solid #000;
  border-width:  1px;
  padding: 4px;
  background-color: indigo;
  font-family: palatino;
  font-size: small;
}

#btm-totals {
  display: flex;
  flex-direction: row;
}

#btm-total-l {
  display: flex;
  flex-direction: column;
}

#d-add-food-btn {
  width: 21%;
}

#btm-total-l, #btm-total-r {
  width: 38%;
}

.meal-btn {
  margin: 13px;
  padding: 5px;
  width: 19%;
  background-color: cyan;
  border-radius: 25px;
}

.d-row-name {
  width: 24%
}

.d-row-cals {
  width: 15%;
}

.d-row-name, .d-row-cals{
  text-align: center;
  border: solid #000;
  border-width:  1px;
  padding: 4px;
}

.green {
  color: green;
  font-weight: 500;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.red{
  color: red;
  font-weight: 500;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}