#container {
  display: flex;
  flex-direction: row;
}

#table-container {
  width: 100%;
}

.food-form {
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 200px;
  margin-left: 8%;
  margin-top: 4%;
  margin-right: 8%;
  background-color: indigo;
  text-align: center;
  border-style: outset;
  padding-top: 2%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}

#food-btn{
  width: 60%;
}

#table-container{
  margin-top: 4%;
}

.meal-row {
  width: 75%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-name {
  width: 20%;
}

.row-cals {
  width: 11%;
  text-align: center;
}

.row-name, .row-cals {
  border: solid #000;
  border-width:  1px;
  padding: 4px;
}

#table-header {
  display: flex;
  flex-direction: row;
  width: 15%;
}

#head-name {
  width: 20%;
}

#head-cal {
  width: 11%;
}

#head-name, #head-cal {
  text-align: center;
  border: solid #000;
  border-width:  1px;
  padding: 4px;
  background-color: indigo;
}

#filter-box {
  width: 40%;
}
.navbar {
  background-color: indigo;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  margin-top: -9px;
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: 15px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: x-large;
} .navbar a {
  text-decoration: none;
  color: white;
}

.food-txt {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 500;
  // font-size: large;
}

.txt-header {
  margin-bottom: 1%;
  font-size: large;
}

#food-search {
  text-align: center;
  width: 33%;
  background-color: indigo;
  margin-bottom: 4%;
  padding-bottom: 4%;
  padding-top: 2%;
  border-style: outset;
}